<!DOCTYPE html>
<html lang="zh-cn">
	<include file="Public:header" />

	<body>
		<include file="Public:top" />
		<br />
		<div class="container">
			<div class="">
				<ul class="bread">
					<h4>
					<li><a href="#" class="icon-home"> 首页</a> </li>					
					<li><a href="#">关于我</a></li>
					</h4>
				</ul>
			</div>
			<div class="line-big">
				<div class="xl12 xm8">
					<div class="line-small">
						<div class="xs12">
							<br />
							<h4>关于我</h4>
							<hr>
							<div class="about">
								<p style="text-indent: 2em">版权所有</p>
							</div>
							<div class="about-love">
								<h4>关于程序</h4>
								<hr>
								<p><strong>创建时间</strong>：2017年2月16日</p>
								<p><strong>程 序</strong> ：前台[ <a> bootstrap3 </a> ]&nbsp;&nbsp;后台[ <a>ThinkPHP3.2</a> ]</p>
								<p><strong>语 言</strong> ：PHP+MYSQL</p>
								<p><strong>说 明</strong> ：本程序个人练习 </p>
								<p>程序组成为前台bootstrap3开发，兼容大部分移动设备</p>
							</div>
							<br />
							<hr />
						</div>
					</div>
				</div>
				<include file="Public:right" />
			</div>
		</div>
		<include file="Public:footer" />
	</body>

</html>